/* Styles for screens with a maximum width of 450px */
body{
        background-image: url(assets/img/sfondo.png);
        background-size: cover;
        background-repeat: repeat-y;
        font-family: 'Arial', sans-serif;
        font-size: 22px;
        line-height: 30px;
        padding: 0;
    }

    header, main, footer {
        width: 450px;
        margin: 0 auto; /* Center the content on smaller screens */
    }

    header {
    
        text-align: center;  
    }
.box-1{
    padding: 20px;
    margin: 20px;
    background-color: rgb(7, 173, 173);
    border: 1px solid rgb(7, 173, 173);
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.logo{
    width: 250px;
    padding-bottom: 30px;
}
.header-area{
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 20px;
    color: #fff;
}
.nav-menu{
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 10px;
    color: #fff;
}
.main-section{
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    margin: 20px;
}
#heading-01{
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.icon-list{
    padding-bottom: 25px;
}
.pink-color{
    color: rgb(231, 37, 215);
    font-weight: 600px;
    font-size: 22px;
}
.sub-heasing{
    font-size: 17px;
    color: gray;
   padding-bottom: 400px;
}
.unorder-list{
    list-style-type: disc;
    padding-left: 40px;
    line-height: 33px;
    margin-bottom: 40px;
}
.a{
    border: solid 1px;
    background-color: rgb(216, 212, 212);
    border-radius: 8px;
    padding: 4px;
}
.order-list{
    list-style-type: decimal;
    padding-left: 40px;
    line-height: 33px;
    margin-bottom: 40px;
    margin-top: 20px;
}

#table1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 3px solid blue;
    margin-bottom: 30px;
  }
  
  #table1 td, #table1 th {
    border-top: 1px solid #ddd;
    border-bottom: 1 px solid#ddd;
    padding: 18px;
    text-align: center;
  }
  
  #table1 tr:nth-child(odd){background-color: #f2f2f2;}
  
  #table1 tr:hover {background-color: #ddd;}
  
  #table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0407aa;
    color: white;
  }
  .video1{
    width: 380px;
   height: 200px;
   border-radius: 18px;
   margin-top: 15px;
   margin-bottom: 15px;
  }
  .heading1{
    text-align: center;
    font-size: 30px;
    font-weight: 600px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }

    .box-2{
        padding: 20px 20px 60px 20px;
        margin: 20px;
        background-color: #ddd;
        margin: auto;
       
        
}

.search-container input{
    padding: 10px;
    border-bottom: dashed;
    width: 60%;
    margin-top: 30px;
  }
.search-container button {
    
    padding: 10px;
    background: blue;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: white;
    width: 30%;
  }
 .box-3{
    padding: 40px 20px 80px 20px;
    background-color: #ddd;
    margin-top: 40px;
   
 }
 .box-3 a{
    color: rgb(13, 117, 117);
    line-height: 40px;
    
 }
 .tag-icon{
    width: 22px;
    padding-right: 10px;    
 }
 .fa-icon{
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
 }

footer{
    background-color: rgb(24, 150, 146);
    padding: 20px;
    margin-bottom: 200px;
    width: 370px;

}
.footer-h1{
    text-align: center;
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
}
.footer-p{
    font-size: 18px;
    color: white;
}
footer.a{
    color: pink;
}
.footer-area{
    color: white;
}

